.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

.flashes h4 {
    line-height: 2;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 1350px;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

nav.nav-extended .nav-wrapper {
    height: 68px;
}
.dropdown-content li>a {
        font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    text-shadow: none;
}