@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap")

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

.flashes h4 {
    line-height: 2;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 300px;
}

a.brand-logo {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Playfair Display', serif;
}
.btn-small {
    margin: 15px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

nav.nav-extended .nav-wrapper {
    height: 68px;
}

nav ul a {
    padding-right: 25px;
}
.nav-wrapper {
    padding-left: 5em;
    padding-right: 3em;
    font-size: 18px; 
}

.dropdown-content li>a {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    text-shadow: none;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-left: 150px;
}

.p1 {
    font-weight: 400px;
}
.card .card-action a {
    color: #e0e0e0; 
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase
}

.card-action a {
    background-color: green;
    
}

.card-content a {
    color: white;
}

.card.horizontal {
    width: 1100px;
    margin-left: 100px;
}
.multi-line-user-input p{
    white-space: pre-line;
}

img.materialboxed{
    width: auto ;
    max-width: 75% ;
    height: auto ;
}

.col.s12.m4 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    width: 285px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

h2 {
    padding-left: 2.5em;
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Playfair Display', serif;
}
h5 {
    margin-left: 50px;
}

.grey-text.text-lighten-4 {
    color: #f5f5f5 !important;
    margin-left: 25px;
    font-family: 'Playfair Display', serif;
}

.grey-text.text-lighten-3 {
    color: #eee !important;
    margin-left: 90px;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.materialboxed {
    margin-left: 25px;
}

.green.btn.text-shadow.search-btn{
    margin-top: 0;
}


element.style {
}
.multi-line-user-input p {
    white-space: pre-line;
}
p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-left: 150px;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul:not(.browser-default)>li {
    list-style-type: none;
}

li {
    text-align: -webkit-match-parent;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ul {
    list-style-type: disc;
}
@media only screen and (max-width: 1200px){
    p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-left: 15px;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        margin-left: 10px;
        font-size: 1.8rem;
    }
    .nav-wrapper {
        padding-right: 0;
    }
    .search-btn{
        margin-top: .5rem;
    }
    .reset-btn, .search-btn{
        min-width: 125px;
        margin-left: .1rem;
    }
    p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-left: 15px;
    }
}

@media only screen and (max-width: 778px){
    p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-left: 15px;
    }

}

@media only screen and (max-width: 425px){
    p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-left: 15px;
    }