{% extends "base.html" %}
{% block content %}

    <h3 class="green-text-darken-1 center-align">Add Your Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- categoty selection -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Your Recipe Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-clipboard prefix green-text text-darken-1"></i>
                    <input id="recipe_name" name="recipe_name" minlength="3" maxlength="50"
                    type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- recipe image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix green-text text-darken-1"></i>
                    <input id="recipe_image" name="recipe_image" type="url" class="validate" 
                    minlength="100" maxlength="800" placeholder="Recipe Photo URL" autocomplete="off" required>
                    <label for="recipe_image">Recipe Image</label>
                </div>
            </div>
            <!-- cooking time -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="far fa-clock prefix green-text text-darken-1"></i>
                    <input id="cooking_time" name="cooking_time" type="text" class="validate">
                    <label for="cooking_time">Cooking Time</label>
                </div>
                <!-- servings -->
                <div class="input-field col s6">
                    <i class="fas fa-chart-pie prefix green-text text-darken-1"></i>
                    <input id="servings" name="servings" type="text" class="validate">
                    <label for="servings">Servings</label>
                </div>
            </div>
            <!-- recipe ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix green-text text-darken-1"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="1000" class="materialize-textarea validate" required>
                    </textarea>
                    <label for="ingredients">Ingredients</label><br>
                </div>
            </div>
            <!-- recipe method -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bars prefix green-text text-darken-1"></i>
                    <textarea id="method" name="method" minlength="5"
                        maxlength="8000"  class="materialize-textarea validate" required>
                    </textarea>
                    <label for="method">Method</label>
                </div>
            </div>
            <!-- added by -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix green-text text-darken-1"></i>
                    <input id="added_by" name="added_by" minlength="3" maxlength="20"
                    type="text" class="validate" required>
                    <label for="added_by">Added By</label>
                </div>
            </div>
            <!-- credit to -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix green-text text-darken-1"></i>
                    <input id="credit_to" name="credit_to" minlength="3" maxlength="70"
                    type="text" class="validate" required>
                    <label for="credit_to">Credit To</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green darken-1 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}