{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
        <div class="parallax">
            <img src="static/images/christmas-cookies1.jpg" alt="xmas-cookies" style="transform:
            translate3d(-50%, 300px, 0px); opacity: 1;">
        </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col s12">
            <h3 class="main-heading center-align green-text text-darken-1">Biscuits</h3>
            </div>
        </div>
        {% for recipe in recipes %}
        <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" width="450" src="/static/images/christmas-cookies1.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
        </div>
    </div>




{% endblock %}