{% extends "base.html" %}
{% block content %}

    <h3 class="center-align green-text text-darken-1">Categories</h3>
    <div class="col s6">
            <ul class="collapsible">
            {% for category in categories %}
                <li>
                    <div class="collapsible-header">
                        <div class="col s6">
                            <i class="fas fa-caret-down"></i>
                                <img class="materialboxed" width="150" src="/static/images/Foolproof-gingerbread1.jpg">
                        </div>
                        <div class="col s6">
                        <strong>Foolproof Gingerbread</strong>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <strong>Biscuits</strong>
                        <h3><strong>Ingredients</strong></h3>
                        <ul>
                            <li class= "black-text recipe-text">½ cup of sugar</li><br>
                            <li class= "black-text recipe-text">½ cup molasses</li><br>
                            <li class= "black-text recipe-text">1 ½ tsp ground ginger</li><br>
                            <li class= "black-text recipe-text">1 tsp ground allspice</li><br>
                            <li class= "black-text recipe-text">1 tsp ground cinnamon</li><br>
                            <li class= "black-text recipe-text">1 tsp ground cloves</li><br>
                            <li class= "black-text recipe-text">2 tsp of baking soda</li><br>
                            <li class= "black-text recipe-text">½ cup butter or margarine</li><br>
                            <li class= "black-text recipe-text">1 egg, beaten</li><br>
                            <li class= "black-text recipe-text">3 ½ cups all-purpose flour</li><br>
                        </ul>
                        <br>
                        <br>
                        <h3><strong>Method</strong></h3>
                        <p>
                        </p>
                        <p><em>Added by: Lee-Ann</em></p>
                        <p><em>Credit:    </em></p>
                    </div>
                    <br>
                </li>
                {% endfor %}
            </ul>
        </div>

{% endblock %}