{% extends "base.html" %}
{% block content %}

    <h3 class="center-align green-text text-darken-1">Welcome to Our Kitchen</h3>

    <div class="row">
        <div class="col s12">
            <p> Christmas is a time of Joy. With twinkling lights and amazing smells from the kitchen.
                These are a few of our holiday recipes enjoyed both in the making and eating by the whole family.
                <br>
                <br>
                Feel free to add your own family recipes.<br>
                Just click Register above and you will be able to Add, Edit or Delete your recipes.
                </p>
        </div>
    </div>

    <div class="col ">
        <h2 class="header">Our Biscuits</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/christmas-cookies1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Biscuits') }}">Click here for our Biscuits</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col ">
        <h2 class="header">Our Sweet Collection</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/choc-reindeer1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Sweets') }}">Click here for our Sweets</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col ">
        <h2 class="header">Our Desserts</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/christmas-trifle1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Desserts') }}">Click here for our Desserts</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col ">
        <h2 class="header">Our Cupcakes</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/christmas-cupcakes1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Cupcakes') }}">Click here for our Cupcakes</a>
            </div>
        </div>
        </div>
    </div>





{% endblock %}