{% extends "base.html" %}
{% block content %}

    <h3 class="center-align green-text text-darken-1">Welcome to Our Kitchen</h3>

    <div class="row">
        <div class="col s12">
            <p> Christmas is a time fun laughter and Joy. With twinkling lights and amazing aromas from the kitchen.<br>
                    These are a few of our holiday recipes enjoyed by the whole family.<br><br>
                    Fun is had in the making of all these yummy things<br>
                    But most of all the best is in the eating.
                <br>
                <br>
                Feel free to <b>Add</b> your own family recipes.<br>
                Just click <b>Register</b> above and you will be able to <b>Add, Edit or Delete</b> your recipes.
            </p>
        </div>
    </div>

    <div class="col ">
        <h2 class="header">Our Biscuits</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/christmas-cookies1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>We are called Biscuits by some or cookies by others,<br>
            With choc-chip in the mix or sugar and spice,<br>
            No matter the batter with which we are made,<br>
            We are always very, very nice.</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Biscuits') }}">Click here for our Biscuits</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col ">
        <h2 class="header">Our Sweets</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/choc-reindeer1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p> We are known as lollies, pops, suckers or sweets.<br>
                We come in many shapes, flavours,colors and sizes.<br>
                Decorate us and use us as prizes.<br>
                You cant go wrong...go on...choose us!
            </p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Sweets') }}">Click here for our Sweets</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col ">
        <h2 class="header">Our Desserts</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/christmas-trifle1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p> As puddings or Desserts we are known<br>
                Grandparents love to make us with a tipple or two.<br>
                Sometimes we are potent, sometimes not so much.<br>
                With cream or custard and sweet delights<br>
                Make sure to save space for more than one bite.
            </p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Desserts') }}">Click here for our Desserts</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col ">
        <h2 class="header">Our Cupcakes</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="/static/images/christmas-cupcakes1.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p> We are fun for every age and every occassion,<br>
                We are easy to make and quick to bake<br>
                Add frosting or icing and there you be<br>
                A cupcake Christmas Tree!<br>
            </p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('recipes_category', category='Cupcakes') }}">Click here for our Cupcakes</a>
            </div>
        </div>
        </div>
    </div>





{% endblock %}